# Various script results/logs
out-*.txt
*.json
convergence.txt
*.h5
*.png
*.mp4
*.webm
core.*
frames_*/
logs/
*.log

# KHARMA/Parthenon outputs
*.phdf
*.rhdf
*.xdmf
*.hst
# Archival files
kharma_parsed_*.par
log_*.txt

# Editor documents
.project
.cproject
.ptp-sync
.vscode/

# C++ excludes
# Build directory
build/

# External directories
external/hdf5*

# Prerequisites
*.d
make_args


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.host*
*.cuda*
*.hip*
*.sycl*
*.exe
*.out
*.app

# Python files
__pycache__/
*.pyc

# added by Hyerin
*.swp
