[submodule "external/parthenon"]
	path = external/parthenon
	url = https://github.com/bprather/parthenon.git
	branch = kharma-expt
[submodule "external/variant"]
	path = external/variant
	url = https://github.com/bprather/variant.git
        branch = kharma-expt
[submodule "external/hpcbind"]
	path = external/hpcbind
	url = https://github.com/kokkos/hpcbind.git
