[submodule "external/parthenon"]
	path = external/parthenon
	url = https://github.com/parthenon-hpc-lab/parthenon.git
	branch = develop
[submodule "external/singularity-opac"]
	path = external/singularity-opac
	url = https://github.com/lanl/singularity-opac.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/singularity-eos"]
	path = external/singularity-eos
	url = https://github.com/lanl/singularity-eos.git
[submodule "external/kokkos-kernels"]
	path = external/kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
